*.idea
*.idea/**
**.build
.idea
*.iml
*.ipr
target
*.project
*.classpath
*.iws
**/.settings/**
*.log
*.log.gz
rebel.xml
**/nb*.xml
/.settings
.settings
**/target/**
application.pid
/file.txt
*.vm
.DS_Store

pom.xml.versionsBackup
/.vscode/
