# Forbid "val" usage for type inference
lombok.val.flagUsage=error
# Flag @Data with a warning, as the default should be immutability
lombok.data.flagUsage=warning
# Only use @Slf4j to log
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
# Override the Logger field actionName
lombok.log.fieldName=LOGGER
# Use fields directly in toString/hashCode/equals (default)
lombok.toString.doNotUseGetters=true
lombok.equalsAndHashCode.doNotUseGetters=true
# use this to annotate lombok generated code so it is properly handled by jacoco
lombok.addLombokGeneratedAnnotation = true
#lombok.anyConstructor.addConstructorProperties=true
#lombok.anyConstructor.suppressConstructorProperties=true
#config.stopBubbling = true
